@import 'color.css';

.btn_outline_blue_48dp {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    object-fit: contain;
    border-radius: 8px;
    box-sizing: border-box;
    border: solid 1px var(--blue-800);
}

.btn_solid_blue_48dp {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    object-fit: contain;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: var(--blue-400);
}

.btn_underline_act{
    background-color: var(--white);
    height: 40px;
    width: 120px;
    border-bottom: 3px solid var(--gray-900);
    text-align: center;
}

.btn_underline_inact{
    background-color: var(--white);
    height: 40px;
    width: 120px;
    border-bottom: 3px solid transparent;
    text-align: center;
}

.btn_side_menu{
    display: flex;
    width: 200px;
    height: 50px;
    padding: 8px 40px 8px 20px;
    background-color: var(--gray-800);
    box-sizing: border-box;
    color: var(--gray-400) !important;;
}

.btn_side_menu:hover{
    color: var(--gray-200) !important;
    background-color: var(--gray-900);
}

.btn_side_menu_focused{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 0px 40px 0px 0px;
    background-color: var(--gray-700);
    box-sizing: border-box;
    color: white !important;;
}

.act_blue_box{
    width: 8px;
    height: 50px;
    margin: 0 12px 0 0;
    background-color: var(--blue-400);
}

.new_icon{
    width: 18px;
    height: 18px;
    flex-grow: 0;
    margin: 9px 0 7px 5px;
    padding: 0px 0px;
    background-color: var(--red-400);
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

