.card_notice {
    width: 360px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 2px rgba(24, 30, 35, 0.1);
    background-color: white;
}

.card_notice:hover{
    background-color: #e1e6eb;
}

.card_normal {
    width: 318px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--white);
    margin-bottom: 26px;
}

.card_flexible{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: var(--white);
    margin-bottom: 26px;
    border-radius: 8px;
}

.card_img{
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: solid 1px #c8cdd2;
    background-color: white;
    padding: 8px 67px 8px 10px;
    margin-right: 10px;
}

.card_info_inact{
    height: 175px;
    width: 210px;
    padding: 10px 15px 10px 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(24, 30, 35, 0.1), 0 0 4px 1px rgba(0, 0, 0, 0.15);
    background-color:white;
    box-sizing: border-box; 
    margin-bottom: 20px;
}

.card_info_inact:hover{
    background-color: var(--gray-60);
}

.card_info_inact .info_div{
    width: 169px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 0 46px 5px 0;
    padding: 0;
    box-sizing: border-box;    
}

.card_info_act{
    height: 175px;
    width: 210px;
    padding: 10px 15px 10px 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(24, 30, 35, 0.1), 0 0 4px 1px rgba(0, 0, 0, 0.15);
    background-color: #03a9f4;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.card_info_act .info_div{
    width: 169px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin: 0 46px 5px 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;    
}


