.chips_solid_gray_act_24dp {
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1px 8px;
    border-radius: 999px;
    background-color: var(--gray-600);
    margin-right: 8px;
}

.chips_solid_gray_inact_24dp {
    height: 24px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1px 8px;
    border-radius: 999px;
    background-color: var(--gray-60);
    margin-right: 8px;
}