@font-face{
    font-family: NotoSansCJKKR;
    src: url("../font/NotoSansCJKkr-Medium.otf") format("opentype");
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table_title_tr{
    height: 40px;
    padding: 8px 0 0;
    background-color: var(--gray-40);
}

.table_content_tr{
    height: 40px;
    margin: 40px 0 0;
    padding: 8px 0 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--gray-200);
}

td, th {
    text-align: left;
    padding: 8px 30px;
    font-family: NotoSansCJKKR;
}

th{
    color: var(--gray-700);
}

td{
    color: var(--gray-600)
}