@import "color.css";

@font-face{
  font-family: NotoSansCJKKR;
  src: url("../font/NotoSansCJKkr-Medium.otf") format("opentype");
}

.text_blacktext_black_48 {
    font-family: NotoSansCJKKR;
    font-size: 48px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.44px;
  }
  .text_boldtext_bold_48 {
    font-family: NotoSansCJKKR;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -1.44px;
  }
  .text_blacktext_black_36 {
    font-family: NotoSansCJKKR;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.72px;
  }
  .text_boldtext_bold_36 {
    font-family: NotoSansCJKKR;
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.72px;
  }
  .text_blacktext_black_32 {
    font-family: NotoSansCJKKR;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -0.64px;
  }
  .text_boldtext_bold_32 {
    font-family: NotoSansCJKKR;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -0.64px;
  }
  .text_blacktext_black_28 {
    font-family: NotoSansCJKKR;
    font-size: 28px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.28px;
  }
  .text_boldtext_bold_28 {
    font-family: NotoSansCJKKR;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.28px;
  }
  .text_mediumtext_medium_28 {
    font-family: NotoSansCJKKR;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.28px;
  }
  .text_regulartext_regular_28 {
    font-family: NotoSansCJKKR;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -0.28px;
  }
  .text_blacktext_black_26 {
    font-family: NotoSansCJKKR;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.26px;
  }
  .text_boldtext_blod_26 {
    font-family: NotoSansCJKKR;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.26px;
  }
  .text_mediumtext_medium_26 {
    font-family: NotoSansCJKKR;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.26px;
  }
  .text_regulartext_regular_26 {
    font-family: NotoSansCJKKR;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.26px;
  }
  .text_blacktext_black_24 {
    font-family: NotoSansCJKKR;
    font-size: 24px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.24px;
  }
  .text_boldtext_bold_24 {
    font-family: NotoSansCJKKR;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.24px;
  }
  .text_mediumtext_medium_24 {
    font-family: NotoSansCJKKR;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.24px;
  }
  .text_regulartext_regular_24 {
    font-family: NotoSansCJKKR;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.24px;
  }
  .text_mediumtext_medium_22 {
    font-family: NotoSansCJKKR;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.22px;
  }
  .text_regulartext_regular_22 {
    font-family: NotoSansCJKKR;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.22px;
  }
  .text_blacktext_black_21 {
    font-family: NotoSansCJKKR;
    font-size: 21px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.21px;
  }
  .text_boldtext_bold_21 {
    font-family: NotoSansCJKKR;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: -0.21px;
  }
  .text_mediumtext_medium_20 {
    font-family: NotoSansCJKKR;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.2px;
  }
  .text_regulartext_regular_20 {
    font-family: NotoSansCJKKR;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.2px;
  }
  .text_blacktext_black_18 {
    font-family: NotoSansCJKKR;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.18px;
  }
  .text_boldtext_bold_18 {
    font-family: NotoSansCJKKR;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.18px;
  }
  .text_mediumtext_medium_18 {
    font-family: NotoSansCJKKR;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.18px;
  }
  .text_regulartext_regular_18 {
    font-family: NotoSansCJKKR;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: -0.18px;
  }
  .text_blacktext_black_16 {
    font-family: NotoSansCJKKR;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
  }
  .text_boldtext_bold_16 {
    font-family: NotoSansCJKKR;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
  }
  .text_mediumtext_medium_16 {
    font-family: NotoSansCJKKR;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
  }
  .text_regulartext_regular_16 {
    font-family: NotoSansCJKKR;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
  }
  .text_blacktext_black_14 {
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
  }
  .text_boldtext_bold_14 {
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
  }
  .text_mediumtext_medium_14 {
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
  }
  .text_regulartext_regular_14 {
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
  }
  .text_blacktext_black_12 {
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.12px;
  }
  .text_boldtext_bold_12 {
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.12px;
  }
  .text_mediumtext_medium_12 {
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.12px;
  }
  .text_regulartext_regular_12 {
    font-family: NotoSansCJKKR;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.12px;
  }
  .text_boldtext_bold_10 {
    font-family: NotoSansCJKKR;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.2px;
  }
  .text_mediumtext_medium_10 {
    font-family: NotoSansCJKKR;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.2px;
  }
  .text_regulartext_regular_10 {
    font-family: NotoSansCJKKR;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: 0.2px;
  }