@import "color.css";

@font-face{
    font-family: NotoSansCJKKR;
    src: url("../font/NotoSansCJKkr-Medium.otf") format("opentype");
}

.textfield_left {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 42px;
    padding: 8px 7px 8px 10px;
    border-radius: 8px;
    border: solid 1px #c8cdd2;
    background-color: white;
    box-sizing: border-box;
}

.textfield_right{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 42px;
    padding: 8px 7px 8px 10px;
    border-radius: 8px;
    border: solid 1px #c8cdd2;
    background-color: white;
    box-sizing: border-box;
}

.textfield_left:hover{
    border-color: var(--blue-400);
}

.textfield_right:hover{
    border-color: var(--blue-400);
}

.textfield_left:focus-within{
    border-color: var(--blue-400);
}

.textfield_right:focus-within{
    border-color: var(--blue-400);
}

.texfield_input{
    outline: none;
    border:none;
    font-family: NotoSansCJKKR;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -0.24px;
    width: 90%;
    padding-right: 10px;
}

.texfield_input_small{
    outline: none;
    border:none;
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
    padding-right: 10px;
    width: 100%;
}


::placeholder{
    color: var(--gray-100);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--gray-100);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--gray-100);
}
