@import "color.css";

body{
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: var(--gray-60);
}

.side-menu-div{
    width: 200px;
    background-color: var(--gray-800);
}

.side-menu-header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 51px;
    padding: 8.2px 0 0;
    border-bottom: 0.5px solid var(--gray-600);
    background-color: var(--gray-800);
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 59.2px;
    border-bottom: 0.5px solid var(--gray-100);
    background-color: var(--white);
    position: sticky;
    top: 0;
}

.main-div{
    display: flex;
}

.main-body{
    width: 100%;
    box-sizing: border-box;
}

.sub-list{
    padding: 20px;
    background-color: var(--white);
    box-sizing: border-box;
    overflow: auto;
}

.sub-list-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    width: calc(100% - 250px);
    background-color: var(--gray-60);
    padding: 18px 20px;
    overflow: auto;
}

.main-content-div{
    display: flex;
    width: 100%;
    height: calc(100vh - 101px);
}

.info-colum{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 18px;
}

.info-colum-title{
    margin-bottom: 20px;
}

.date{
    font-family: NotoSansCJKKR;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.74;
    letter-spacing: 0.14px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.flex-space-btween{
    display: flex;
    justify-content: space-between;
}

.info-colum-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.img-center{
    display: flex;
    align-items: center;
    margin-right: 5px;
}

footer{
    width: 100%;
    height: 40px;
    margin: 0.5px 0;
    padding: 11px 0 11px 40px;
    background-color: var(--gray-700);
    box-sizing: border-box;
    color: var(--gray-400);
}